# encontrarse en modo rescue y con baud a 115200
# El borra tambien la configuracion

send "\n"
expect "switch:"

send "flash_init"
expect "switch:"

send "copy CONFIGURACION flash:config_last_delete_password.txt"

#TODO  cambiar esto por variable

send "delete flash:CONFIGURACION"
expect "Are you sure you want to delete "flash:CONFIGURACION" (y/n)?"
send "y"

print ""
print "===Cerrando minicom==="
print ""
#Cerramos minicom
! pkill -15 minicom 
