# encontrarse en modo rescue y con baud a 115200

send "\n"
expect "switch:"

send "flash_init"
expect "switch:"

send "copy xmodem: CONFIGURACION"

print ""
print "===Cerrando minicom==="
print ""
#Cerramos minicom
! pkill -15 minicom 

                                    
